.jumbotron {
  background-color: transparent;
}

body {
    background: url("./images/friends.jpg") no-repeat center center fixed;
    background-size: cover;
  }

.panel {
    background-color: rgba(245, 245, 245, 0.8);
}

#imagepreview {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
  font-size: 24px;
  font-style: italic;
  font-variant: small-caps;
}
